In [1]:
import pandas as pd
df = pd.read_csv("data_choice_withContextVal.csv")

In [2]:
def a(datas,val,isPercent=False):
    count_z = 0
    for data in datas:

        if data == val:
            count_z += 1
    if isPercent:
        return 100*count_z/len(datas)
    return count_z

In [3]:
df["NumErr"]=df.groupby(["Subject", "TrialType"])["Correct"].transform(lambda x: a(x.values,0))
df["NumErr%"]=df.groupby(["Subject", "TrialType"])["Correct"].transform(lambda x: a(x.values,0,True))

In [4]:
df

,Unnamed: 0,Index,Subject,Block,Trial,TrialType,LeftContext,RightContext,LeftItem,RightItem,...,LeftContext2,RightContext1,RightContext2,att,LeftContext1_val,LeftContext2_val,RightContext1_val,RightContext2_val,NumErr,NumErr%
0,0,1,201,1,1,hh,High,High,Heat_Blower,Melon_Cutter,...,Popcorn_Machine,Pan,Whiskey,0,28.900000,30.000000,28.900000,30.000000,6,20.000000
1,1,2,201,1,2,ll,Low,Low,Scale_Kitchen,Melon_Cutter,...,Gold_USB,Newton_Cradle,Chocolate,0,3.800000,0.500000,1.333333,1.700000,5,16.666667
2,2,3,201,1,3,Hh,High,Low,Chef_Knife,Matress_Folded,...,White_Wine,Gold_USB,Stormtrooper_USB,0,28.900000,29.966667,0.500000,3.366667,12,20.000000
3,3,4,201,1,4,Hl,Low,High,Picnic_Cooler,Body_Scale,...,Chocolate,Popcorn_Machine,Computer_Tray,0,0.733333,1.700000,30.000000,29.100000,17,28.333333
4,4,5,201,1,5,Hh,High,Low,Head_Lamp,Battery,...,White_Wine,Pointer,Stormtrooper_USB,0,29.100000,29.966667,0.733333,3.366667,12,20.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7073,7073,176,227,2,86,Hl,High,Low,Earphones,Carpet_Candy,...,Heat_Blower,Computer_Tray,Measuring_Tape,1,30.000000,30.000000,0.000000,0.000000,31,52.542373
7074,7074,177,227,2,87,ll,Low,Low,Toaster,Kettle,...,Stormtrooper_USB,Vodka,Whiskey,1,0.000000,0.000000,0.000000,0.000000,12,40.000000
7075,7075,178,227,2,88,ll,Low,Low,Scale_Kitchen,Table_Lamp,...,Measuring_Tape,Newton_Cradle,Measuring_Tape,1,0.000000,0.000000,0.000000,0.000000,12,40.000000
7076,7076,179,227,2,89,hh,High,High,Wine,Toaster,...,Battery,Bottle,Battery,1,29.766667,30.000000,27.566667,30.000000,6,20.000000
7077,7077,180,227,2,90,Hl,High,Low,Penknife,Gold_USB,...,Heat_Blower,Pointer,Stormtrooper_USB,1,29.766667,30.000000,0.000000,0.000000,31,52.542373

In [5]:
newdf = df.groupby(["Subject", "TrialType"])[("NumErr","NumErr%")].first().reset_index()

/home/lizakson/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [6]:
newdf.head(100)

    Subject   TrialType  NumErr    NumErr%
0       201          Hh      12  20.000000
1       201          Hl      17  28.333333
2       201  No_context      28  23.333333
3       201          hh       6  20.000000
4       201          ll       5  16.666667
..      ...         ...     ...        ...
95      222          Hh       4   6.896552
96      222          Hl      56  94.915254
97      222  No_context      49  40.833333
98      222          hh      17  56.666667
99      222          ll      16  53.333333

[100 rows x 4 columns]